@use "main";
@use "drop-area";

form {
    display: grid;
    gap: 1rem;

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        min-inline-size: 0; // ブラウザ既定の幅のクセを消す
    }

    label {
        display: grid;
        gap: 0.25rem;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea,
    button {
        font: inherit;
    }
}
