.section-content {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    > label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

main {
    max-width: 640px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
