body>header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    list-style: none;
    font-size: 27px;
}

body>header nav ul li {
    border-left: solid 8px rgb(27, 27, 27);
    padding: 0;
    transition: 0.3s;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), #0b73bb;
    flex: 2;
}

body>header nav ul li:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), #06bdde;
}

body>header nav ul li.active {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), #291f87;
}

body>header nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    min-height: 70px;
    color: #fff;
    position: relative;
}

body>header nav.target ul li a span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    text-align: center;
    width: 100%;
}








body>header form {
    margin: 0 10px 10px 10px;

    width: 50rem;
}

body>header.fix form {
    position: fixed;
    top: 4px;
    height: 30px;
}

body>header form.search-active {
    width: calc(100% - 50px);
}

body>header input.search {
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    border: solid 1px #f0f0f0;
}

/* body>header input {
    width: calc(100% - 45px);
} */