/* ドロップエリアの設定 */
body main div {
    width: 100%;
    margin: 20px 0;
    height: auto;
    border: 2px dashed #df048784;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ドロップエリア内箇条書きの表示設定 */
body main div ul {
    display: flex;
    flex-wrap: wrap;
    color: blue;
    padding: 0 40px;
    gap: 20px;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}

/* 感謝のためのCSS */
body>main>p#thank {
    font-weight: bold;
    font-size: 30px;
    color: rgb(239, 16, 187);
}

/* ファイルのinputを削除 */
body>main>input {
    display: none;
}

/* ラベルの設定 */
body main label {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

/* ボタンにホバーしたときの変化 */
body main label:hover {
    background: #0b6aeeb1;
    box-shadow: 0 2px #3f1d22;
    top: 1px;
}