body main section {
    width: 100%;
    height: auto;
    border: 2px dashed #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drop-area.dragover {
    background-color: #eef;
    border-color: blue;
}

body main section ul {
    display: flex;
    flex-wrap: wrap;
    color: blue;
    padding: 0 40px;
    gap: 20px;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}