@use "../var" as *;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: $space-sm;

    > a {
        font-size: $font-size-lg;
    }

    ul {
        list-style: none;
        display: flex;
        gap: $space-md;
    }
}
