<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document Uploader</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Document Uploader</a>
                <ul>
                    <li>
                        <a href="/upload">upload</a>
                    </li>
                    <li>
                        <a href="/download">download</a>
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer>Developed by HacKinGS (Hinshiba, Glabyl, Kobi, Sunakun)</footer>
    </body>
</html>
