{% extends "base.html" %} {% block styles %}<link
    rel="stylesheet"
    href="download.css"
>{% endblock %} {% block content %}

<main>
    <h2>ダウンロード</h2>
    <form id="search-form">
        <p>ダウンロードしたい教科を選んでください．</p>
        <div class="section-content">
            <major-select></major-select>

            <subject-select></subject-select>

            <button type="submit">検索</button>
        </div>
    </form>

    <hr>

    <ul id="result-list"></ul>
</main>

{% endblock content %} {% block scripts %}
<script type="module" src="../scripts/download.ts"></script>
{% endblock %}
