{% extends "base.html" %} {% block styles %}<link
    rel="stylesheet"
    href="upload.css"
>{% endblock %} {% block content %}

<main>
    <h2>アップロード</h2>
    <p>貢献に感謝します</p>

    <form>
        <p>アップロードしたい教科を選んでください．</p>

        <major-select></major-select>

        <subject-select></subject-select>

        <label>
            試験種別
            <select name="examtype" required>
                <option value="">--試験種別--</option>
                <option value="quiz">小テスト</option>
                <option value="midterm">中間</option>
                <option value="final">期末</option>
                <option value="other">その他</option>
            </select>
        </label>

        <label>
            年度
            <input type="number" name="year" min="1949" required>
        </label>

        <label>
            教員名
            <input type="text" name="teacher" required>
        </label>

        <label>
            何回目のテストか
            <input type="number" name="num" min="1" required>
        </label>

        <label>
            <input type="checkbox" name="isanswer">
            これは解答ですか？
        </label>

        <label>
            ファイルを選択してください
            <input type="file" id="file" multiple required>
        </label>

        <proc-message id="proc-message"></proc-message>
        <div class="drop-area" id="drop-area">
            <p id="message">ここにファイルをドラッグしてください</p>
            <ul id="makelist"></ul>
        </div>

        <button id="uploadbtn" type="submit">送信</button>
    </form>
</main>

{% endblock content %} {% block scripts %}
<script type="module" src="../scripts/upload.ts"></script>
{% endblock %}
