{% extends "base.html" %} {% block styles %}<link
    rel="stylesheet"
    href="upload.css"
>{% endblock %} {% block content %}

<main>
    <h2>アップロード</h2>
    <p>貢献に感謝します</p>

    <form>
        <p>アップロードしたい教科を選んでください．</p>

        <major-select></major-select>

        <fieldset>
            <label for="teacher">教員名</label>
            <input type="text" id="teacher" name="teacher" required>
        </fieldset>

        <fieldset>
            <label for="examtype">試験種別</label>
            <select id="examtype" name="examtype" required>
                <option value="">--試験種別--</option>
                <option value="quiz">小テスト</option>
                <option value="midterm">中間</option>
                <option value="final">期末</option>
                <option value="other">その他</option>
            </select>
        </fieldset>

        <subject-select></subject-select>

        <fieldset>
            <label for="num">何回目のテストか</label>
            <input type="number" id="num" name="num" required>
        </fieldset>

        <fieldset>
            <label for="isanswer">これは解答ですか？</label>
            <input type="checkbox" id="isanswer" name="isanswer">
        </fieldset>

        <label for="file">ファイルを選択してください</label>
        <input type="file" id="file" multiple>

        <section class="drop-area" id="drop-area">
            <p id="message">ここにファイルをドラッグしてください</p>
            <ul id="makelist"></ul>
        </section>

        <button id="uploadbtn" type="submit">送信</button>
        <p id="thank"></p>
    </form>
</main>

{% endblock content %} {% block scripts %}
<script type="module" src="../scripts/upload.ts"></script>
{% endblock %}
